<div class="col-md-6">
    <div class="container">
        <h2>Get In Touch!</h2>
        <ul>
            <i class="fa fa-home" aria-hidden="true"></i>
            <li>
                MindBody Inc.
                Pune, India.
            </li>
            <li><a>+91 123132132</a></li>
            <email address="ashishkumar.bisoi@mindbodyonline.com" content="Mail Us"></email>
        </ul>
    </div>
</div>