<h3>
    Your orders are as follows:
    Proceed to checkout!!!
</h3>

<h4>Do you wish to check out?</h4>
<button class="btn btn-info">Check out</button>

@* ask for shipping details on clicking the button *@